In [18]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Prince\Downloads\aps_failure_training_set1_12182023__080944.csv")
df1 = pd.read_csv(r"C:\Users\Prince\Downloads\aps_failure_training_set1_12182023__080944.csv")
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000,prediction,cat_pred
0,pos,153204,0.0,182.0,NaN,0.0,0.0,0.0,0.0,0.0,...,34044.0,22472.0,34362.0,0.0,0.0,0.0,0.0,0.0,1,pos
1,pos,453236,NaN,2926.0,NaN,0.0,0.0,0.0,0.0,222.0,...,5025350.0,2025766.0,1160638.0,533834.0,493800.0,6914.0,0.0,0.0,1,pos
2,pos,72504,NaN,1594.0,1052.0,0.0,0.0,0.0,244.0,178226.0,...,527514.0,358274.0,332818.0,284178.0,3742.0,0.0,0.0,0.0,0,neg
3,pos,762958,NaN,NaN,NaN,NaN,NaN,776.0,281128.0,2186308.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,pos
4,pos,695994,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,361646.0,28610.0,5130.0,212.0,0.0,0.0,NaN,NaN,1,pos

In [6]:
null_report = df.isna().sum()/df.shape[0]
null_report

class         0.000000
aa_000        0.000000
ab_000        0.770863
ac_000        0.059163
ad_000        0.254228
                ...
ee_009        0.010473
ef_000        0.047806
eg_000        0.047778
prediction    0.000000
cat_pred      0.000000
Length: 173, dtype: float64

In [11]:
(null_report[null_report>0.2].index)

Index(['ab_000', 'ad_000', 'bk_000', 'bl_000', 'bm_000', 'bn_000', 'bo_000',
       'bp_000', 'bq_000', 'br_000', 'cf_000', 'cg_000', 'ch_000', 'co_000',
       'cr_000', 'ct_000', 'cu_000', 'cv_000', 'cx_000', 'cy_000', 'cz_000',
       'da_000', 'db_000', 'dc_000'],
      dtype='object')

In [12]:
report = dict()
type(report)

dict

In [13]:
df.columns

Index(['class', 'aa_000', 'ab_000', 'ac_000', 'ad_000', 'ae_000', 'af_000',
       'ag_000', 'ag_001', 'ag_002',
       ...
       'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008', 'ee_009', 'ef_000',
       'eg_000', 'prediction', 'cat_pred'],
      dtype='object', length=173)

In [15]:
from scipy.stats import ks_2samp

In [19]:
report = ks_2samp(df['aa_000'],df1['aa_000'])

In [20]:
report

KstestResult(statistic=0.0, pvalue=1.0, statistic_location=0, statistic_sign=1)

In [30]:
import numpy as np
df['ad_000'].replace({"na":np.NAN},inplace = True)

In [32]:
df['ad_000']

0           NaN
1           NaN
2        1052.0
3           NaN
4           NaN
          ...
36183     186.0
36184     224.0
36185      18.0
36186     494.0
36187     628.0
Name: ad_000, Length: 36188, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split

In [35]:
df.columns

Index(['class', 'aa_000', 'ab_000', 'ac_000', 'ad_000', 'ae_000', 'af_000',
       'ag_000', 'ag_001', 'ag_002',
       ...
       'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008', 'ee_009', 'ef_000',
       'eg_000', 'prediction', 'cat_pred'],
      dtype='object', length=173)

In [39]:
df.shape

(36188, 172)

In [49]:
df['aa_000'].dtype

dtype('int64')

In [62]:
df.

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000,prediction
count,3.618800e+04,8292.000000,3.404700e+04,2.698800e+04,34601.000000,34601.000000,3.580900e+04,3.580900e+04,3.580900e+04,3.580900e+04,...,3.580900e+04,3.580900e+04,3.580900e+04,3.580900e+04,3.580900e+04,3.580900e+04,3.580900e+04,34458.000000,34459.000000,36188.000000
mean,6.591016e+04,0.711770,3.535223e+08,3.185447e+05,7.234300,11.606543,1.952347e+02,1.508277e+03,1.250718e+04,1.156928e+05,...,2.293208e+05,4.837846e+05,4.401019e+05,3.686943e+05,3.718051e+05,1.485117e+05,8.897664e+03,0.083464,0.209234,0.027910
std,1.641238e+05,3.054033,7.926486e+08,5.225398e+07,186.437282,234.405353,1.852862e+04,4.371360e+04,1.801543e+05,8.853380e+05,...,5.948054e+05,1.251106e+06,1.331837e+06,1.220688e+06,1.722483e+06,5.153265e+05,5.316375e+04,3.789020,8.613915,0.164717
min,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,8.660000e+02,0.000000,1.600000e+01,2.400000e+01,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.190000e+03,2.732000e+03,3.680000e+03,5.660000e+02,1.180000e+02,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
50%,3.102600e+04,0.000000,1.520000e+02,1.280000e+02,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.137840e+05,2.263560e+05,1.952480e+05,9.559400e+04,4.296600e+04,4.278000e+03,0.000000e+00,0.000000,0.000000,0.000000
75%,5.006850e+04,0.000000,9.640000e+02,4.320000e+02,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.222860e+05,4.748680e+05,4.103280e+05,2.791920e+05,1.706080e+05,1.432300e+05,2.018000e+03,0.000000,0.000000,0.000000
max,2.746564e+06,100.000000,2.130707e+09,8.584298e+09,21050.000000,20070.000000,3.376892e+06,4.109372e+06,1.055286e+07,2.904730e+07,...,1.676929e+07,2.747758e+07,5.743524e+07,3.160781e+07,3.727856e+07,1.926740e+07,3.810078e+06,362.000000,1146.000000,1.000000

In [63]:
columns = list(df.columns)
for i in columns:
    if df[i].dtype=='object':
        print(i)

cat_pred

In [64]:
df.cat_pred

0        pos
1        pos
2        neg
3        pos
4        pos
        ...
36183    neg
36184    neg
36185    neg
36186    neg
36187    neg
Name: cat_pred, Length: 36188, dtype: object

In [65]:
X = df.drop('cat_pred',axis=1)
y = df['cat_pred']

In [80]:
from sklearn.pipeline import Pipeline
from imblearn.combine import SMOTETomek
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import LabelEncoder
def get_data_transformer_object():
        try:
            simple_imputer = SimpleImputer(strategy="constant",fill_value=0)
            robust_scaler = RobustScaler()
            pipeline = Pipeline(steps=[
                ('Imputer',simple_imputer),
                ('RobustScaler',robust_scaler)
            ])
            return pipeline
        except Exception as e:
            print(e)

In [69]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2)

In [75]:
(X_train.shape,X_test.shape)

((28950, 171), (7238, 171))

In [77]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)

LabelEncoder()

In [78]:
y_train = label_encoder.transform(y_train)
y_test = label_encoder.transform(y_test)

In [84]:
pipeline = get_data_transformer_object().fit(X_train)

In [85]:
X_train = pipeline.transform(X_train)
X_test = pipeline.transform(X_test)

In [86]:
smt = SMOTETomek(random_state = 42)
X_train,y_train = smt.fit_resample(X_train,y_train)
X_test,y_test = smt.fit_resample(X_test,y_test)

In [87]:
y_train.shape,y_test.shape

((56176,), (14056,))

In [94]:
pd.DataFrame(y_train).value_counts()

0    28088
1    28088
dtype: int64

In [95]:
pd.DataFrame(y_test).value_counts()

0    7028
1    7028
dtype: int64

In [103]:
(np.c_[X_train,y_train]).shape

(56176, 172)

In [97]:
X_train

array([[ 2.07481236e-01,  0.00000000e+00,  1.47619048e-01, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 1.42129306e-01,  0.00000000e+00,  2.53655514e+06, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-6.28440042e-01,  0.00000000e+00, -6.90476190e-02, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       ...,
       [ 6.28496764e+00,  0.00000000e+00, -1.38095238e-01, ...,
         0.00000000e+00,  0.00000000e+00,  1.00000000e+00],
       [ 1.85926849e-01,  0.00000000e+00, -1.38095238e-01, ...,
         0.00000000e+00,  0.00000000e+00,  1.00000000e+00],
       [ 1.72748455e+01,  0.00000000e+00, -1.38095238e-01, ...,
         0.00000000e+00,  0.00000000e+00,  1.00000000e+00]])

In [98]:
X1_train,X1_test,y1_train,y1_test = train_test_split(X,y,test_size = 0.2)

In [102]:
type(y1_train)

pandas.core.series.Series